<div class="pedidos-section">
   <div class="pedidos-header">
      <h2> Todos os pedidos </h2>
      <div class="pedidos-divider"></div>
   </div>
   <div class="pedidos-table-wrapper">
      <table class="pedidos-table">
         <thead>
            <tr>
               <th>ID pedido</th>
               <th>ID cliente</th>
               <th>Cliente</th>
               <th>Tipo de serviço</th>
               <th>Descrição</th>
               <th>Endereço</th>
               <th>Status</th>
               <th>Data Criação</th>
            </tr>
         </thead>
         <tbody>
            @for (pedido of pedidos; track pedido) {
            <tr>
               <td>{{ pedido.id }}</td>
               <td>{{ pedido.idCliente }}</td>
               <td>{{ pedido.nomeCliente }}</td>
               <td>{{ pedido.nomeServico }}</td>
               <td>{{ pedido.descricao }}</td>
               <td>{{ pedido.enderecoCompleto }}</td>
               <td>
                  <select [(ngModel)]="pedido.status" (change)="atualizarStatus(pedido.id, pedido.status)"
                     [class]="getStatusClass(pedido.status)" class="status-select">
                     <option value="pendente">Pendente</option>
                     <option value="em_andamento">Em Andamento</option>
                     <option value="concluído">Concluído</option>
                  </select>
               </td>
               <td>{{ pedido.dataFormatada }}</td>
            </tr>
            }
         </tbody>
      </table>
   </div>
</div>