body {
   margin: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
   width: 260px;
   height: 100vh;
   background-color: #37475a;
   color: #ccc;
   padding: 20px;
   box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}
.header-logo {
   height: 40px;
   margin-right: 10px;
}

.logo .icon {
   background: linear-gradient(45deg, #17ead9, #6078ea);
   color: white;
   padding: 8px;
   border-radius: 10px;
   font-size: 18px;
   margin-right: 10px;
}

.logo span {
   font-size: 18px;
   font-weight: bold;
}

.section-title {
   font-size: 12px;
   text-transform: uppercase;
   margin-top: 20px;
   margin-bottom: 5px;
   color: #a0aebb;
}

.menu {
   list-style: none;
   padding: 0;
   margin: 0 0 10px 0;
}

.menu li {
   display: flex;
   align-items: center;
   padding: 10px;
   cursor: pointer;
   color: #b0c4d9;
   border-radius: 5px;
   transition: background 0.2s;
}

.menu li i {
   padding-right: 10px;
   width: 18px;
}

.menu li:hover {
   background-color: #2c3b50;
}

.menu li.active {
   background-color: #2a3542;
   color: white;
}