<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Sidebar Menu</title>
</head>
<body>
   <div class="sidebar">
      <div class="logo">
         <img src="https://cnwokwuamsfiikryfdqr.supabase.co/storage/v1/object/public/bucketsenac25//senac.png" alt="Logo" class="header-logo" />
         <span>Unisenac</span>
      </div>

      <div class="section-title">Navigation</div>
      <ul class="menu">
         <li class="active"><i data-feather="home"></i> Dashboard</li>
      </ul>

      <div class="section-title">UI Components</div>
      <ul class="menu">
         <li><i data-feather="edit-3"></i> Color</li>
         <li><i data-feather="type"></i> Typography</li>
         <li><i data-feather="feather"></i> Icons</li>
      </ul>

      <div class="section-title">Pages</div>
      <ul class="menu">
         <li><i data-feather="lock"></i> Login</li>
         <li><i data-feather="user-plus"></i> Register</li>
      </ul>

      <div class="section-title">Other</div>
      <ul class="menu">
         <li><i data-feather="menu"></i> Menu levels</li>
         <li><i data-feather="file"></i> Sample page</li>
      </ul>
   </div>

   
   <script>
      feather.replace();
   </script>
</body>

</html>