<div class="signup-container">

   <h2>Sign up</h2>

   <form>
      <input type="text" name="fullName" [(ngModel)]="nomeCompleto" placeholder="Nome completo" autocomplete="off"
         required>
      <input type="email" name="email" [(ngModel)]="email" placeholder="Email" autocomplete="off" required>
      <input type="password" name="password" [(ngModel)]="password" placeholder="Senha" autocomplete="off" required>

      <button type="submit" class="signup-btn" (click)='cadastrar()'>Sign up</button>
   </form>
   <div class="bottom-text">
      Já tem conta? <a routerLink="/login">Login</a>
   </div>
</div>